@import url("pygment.css");
@import url(//fonts.googleapis.com/css?family=Source+Code+Pro);
/*
 *  Name: Martin's Theme
 *  Date: April 2016
 *  Description: A Pelican theme with clean layout.

 #  Based on: Fresh
 *  Author: Jui-Shan Liang
 *  Author URI: http://jsliang.com
 */
body {
  color: #222222;
  font-size: 0.875em;
  font-family: sans-serif;
  line-height: 1.3125em;
  margin: 0;
  padding: 0;
  text-align: left; }

a {
  color: #000099; }
  a:hover {
    color: #000099;
    text-decoration: underline; }

h1 {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.75em;
  line-height: 3.5em; }

h2 {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.4em;
  line-height: 2.8em; }

h3 {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.26em;
  line-height: 2.52em; }

h4 {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.134em;
  line-height: 2.268em; }

h5 {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.0206em;
  line-height: 2.0412em; }

h6 {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 0.91854em;
  line-height: 1.83708em; }

hr {
  border: 2px solid #eeeeee; }

strong, b {
  font-weight: bold; }

em, i {
  font-style: italic; }

ul {
  list-style: outside disc; }

ol {
  list-style: outside decimal; }

.post-info {
  font-size: 0.875em;
  text-align: right;
  margin-bottom: 1em; }
  .post-info address {
    font-style: normal;
    display: inline; }

.readmore {
  margin-top: 1em;
  font-weight: bold; }

.archive_row {
  font-family: sans-serif; }
  .archive_row .archive_year {
    font-size: 1.4em;
    font-weight: bold;
    margin-top: 1.4em;
    text-align: center; }
  .archive_row .archive_month {
    font-size: 1.26em;
    font-weight: bold;
    margin-top: 1.26em;
    text-align: center; }
  .archive_row .archive_day {
    text-align: center; }

pre {
  background-color: #dddddd;
  padding: 10px;
  margin: 10px;
  overflow: auto; }

code, pre {
  font-family: 'Source Code Pro', monospace;
  background-color: #dddddd; }

blockquote {
  margin: 20px;
  font-style: normal;
  border: 0; }
  blockquote p {
    font-size: 1em;
    margin-bottom: 1em;
    font-weight: normal; }

section, footer, aside, nav, article, figure {
  display: block; }

section {
  padding: 1em; }

img.right, figure.right {
  float: right;
  margin: 0 0 2em 2em; }

img.left, figure.left {
  float: left;
  margin: 0 2em 2em 0; }

table.field-list {
  display: block;
  color: black;
  background-color: #dddddd;
  padding: 5px;
  margin: 10px;
  overflow: auto;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px; }
  table.field-list th {
    padding-right: 25px;
    padding-left: 5px; }

#logo {
  display: block; }
  #logo a {
    float: right; }

#banner {
  margin: 0 auto;
  padding: 0 0 0 0; }
  #banner h1 {
    font-size: 2em;
    font-family: sans-serif;
    line-height: 1;
    text-align: right; }
    #banner h1 a:link, #banner h1 a:visited {
      color: #222222;
      display: block;
      font-weight: bold;
      margin: 0 0 0.6em 0.2em;
      text-decoration: none; }
  #banner .nav > li > a {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    font-family: sans-serif;
    font-weight: bold; }
    #banner .nav > li > a:hover {
      color: #330066;
      text-shadow: 2px 2px #dddddd; }

#site-footer {
  bottom: 0;
  text-align: right;
  font-size: 0.7em;
  padding: 1em; }
  #site-footer address {
    display: inline; }

.hentry {
  display: block;
  clear: both;
  border-bottom: 1px solid #eeeeee;
  padding: 1.5em 0; }

li:last-child .hentry {
  border: 0;
  margin: 0; }

#content > .hentry {
  border: 0;
  margin: 0;
  padding: 1em 0; }

.hentry img {
  display: none; }

.entry-title {
  margin-bottom: 10px;
  margin-top: 0; }
  .entry-title a:link, .entry-title a:visited {
    text-decoration: none;
    color: black; }
  .entry-title a:hover {
    color: #113D8B; }

#posts-list {
  list-style: none;
  margin: 0;
  padding: 1em; }

.paginator {
  padding-left: 1em; }

.err {
  border: 0; }

#cloud {
  padding: 2px;
  line-height: 2em;
  text-align: center;
  margin: 0; }

#cloud a {
  padding: 0px; }

#cloud li {
  display: inline; }

li.tag-4 {
  font-size: 0.8em;
  font-weight: 100; }

li.tag-3 {
  font-size: 1.0em;
  font-weight: 200; }

li.tag-2 {
  font-size: 1.2em;
  font-weight: 300; }

li.tag-1 {
  font-size: 1.4em;
  font-weight: 400; }
